@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

header{
  background-image: url("img/background_page_1.png");
}

nav{
  font-family: 'Raleway', sans-serif;
  font-size: 11.2px;
}

nav ul {
  margin-left: 50%;
}

nav ul li a {
  color: white !important;
}