@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.marge_background_0 {
	overflow-x: hidden;
}

/* change for bootstrap */

.bg-light{
  background-color: #d4d8d9 !important;
}

/* Add font in class */

.col-md-6.text-light h3, .col-md-6.text-light p , h4, .new, p.comment, h5.link, p.link, .readmore, .subtitle, nav{
  font-family: 'Raleway', sans-serif;
}

.title{
  font-family: 'Cookie', cursive;
}

.link{
  font-family: Roboto, sans-serif;
}

/* style */

body{
  background-color: #2a3b40;
  color: #2a3b40;
}

header{
  top: 0 !important;
  background: url("img/background_page_1.webp") no-repeat left;
  background-size: 1920px;
  background-position: 50% 50% ;
  overflow: hidden;
  height: 100vh;
}

nav{
  font-size: 2vw !important;
  padding-left: 13%;
  z-index: 1000000;
}

.show ul li a, .collapsing ul li a{
  color: black !important;
}

.navbar-collapse ul li a {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.collapse ul li a {
  text-shadow: 1px 0 10px white;
  transition: text-shadow .2s ease-in-out;
}

.show ul, .collapsing ul {
  top: 60px;
}

nav ul {
  position: absolute;
  right: -.5vw;
}

nav ul li {
  padding-right: 20px;
}

.navbar-brand, nav ul li a {
  color: white !important;
}

.insert{
  margin-top: 7.5%;
}

.col-md-8.offset-md-2.bg-light{
  height: 472px;
  min-width: 50%
}

.white-box{
  padding: 7rem;
}

.title{
  color: #2c3a42;
  font-size: 9vw;
  line-height: 6vw;
  overflow: hidden;
}

.subtitle{
  color: #80500e; /* for wcag*/
  font-weight: bolder;
  font-size: 5vw;
}

.readmore{
  background-color: white;
  font-weight: bold;
  font-size: 3vw;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.readmore a {
  color: #26363a !important;
}

/* for readmore */
#readmore p {
  text-align: justify;
}

/* for bottom page */

h5.subtitle{
  font-size: 5vw;
}

.card-title{
  overflow-y: hidden;
}

.btn-read-more{
  border-bottom: 10px solid #ff992b;
}


@media (min-width: 768px) {
	.background_page2 {
		background: url("img/background_page_2.webp") no-repeat;
		background-size: 1920px;
		background-position: 50% 50%;
	}
}

.titre {
	font-family: 'Cookie', cursive;
	font-size: 10.4vh;
	line-height: 1;
}

@media (orientation: landscape) {
	.titre {
		font-size: 9vw;
	}

	.sous_titre {
		font-size: 5vw !important;
	}
}

.sous_titre {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 6.5vh !important;
	color: #80500e;
	line-height: 0;
	margin-bottom: 30px !important;
}

.nom_plat {
	font-size: 18px;
}

p {
	font-size: 16px;
}

.prix {
	font-size: 15px;
}

.vecteur_droit {
	position: float;
	float: right;
}

.raleway_bold {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.titre_size {
	font-size: 30px;
}

.raleway_regular {
	font-family: 'Raleway', sans-serif;
}

.fa-ellipsis-h {
	font-size: 70px;
}

.menu {
	font-size: 15px;
}

.menu a {
	text-decoration: none;
	color: #2a3b40;
}

@media (min-width: 768px) {  

	.background_page3 {
		margin-top: -.39rem !important;
		background: url("img/background_page_3.webp") no-repeat;
		background-size: 1920px;
		background-position: 50% 50%;
		padding-top: 32vh;
	}
}

@media (max-width: 992px) {
	nav {
		font-size: 6vw !important;
	}
}

@media (max-width: 768px) {
	.marge_background {
		margin-bottom: -0.9vh;
	}
}

.nom_plat2 {
	line-height: 2;
	font-size: 18px;
	font-weight: bold;
}

.rond {
	margin-bottom: 8%;
	height: 6vw;
	width: 6vw;
}

.image_rond {
	height: 4vh;
	width: 3vw;
}

.image_rond2 {
	height: 5vh;
	width: 3vw;
}

.image_rond3 {
	height: 6vh;
	width: 3vw;
}

.background_avant_form {
	width: 100%;
	height: auto;
}

.background_apres_form {
	width: 100%;
	height: auto;
}

input {
	border-style: solid;
}

input:focus, select:focus {
	outline: 0 !important;
}

a {
	text-decoration: none;
}

.submit {
	/* width: 14.7vw; */
	border-style: solid;
}

.background_select {
	background-color: #2a3b40;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::placeholder {
	color: white !important;
}

.form-control:focus, .form-select:focus {
	outline: 2px solid white !important;
	box-shadow: none !important;
}

@media (max-width: 576px) {
	.texte_photo_gauche, .texte_photo_droite {
		position: absolute;
		background-color: #f8f9fa;
		opacity: 0.75;
		top: 0;
		bottom: 0;
		z-index: 10000;
		font-weight: bold;
	}

	.prix, .nom_plat {
		font-style: italic;
	}

	.nom_plat, .desc_plat, .prix {
		opacity: 1 !important;
	}

	.nom_plat {
		text-decoration: underline;
	}

	.texte_photo_gauche {
		left: 0;
	}

	.texte_photo_droite {
		right: 0;
	}
}

@media (max-width: 340px) {
	.colonne_small {
		width: 100% !important;
	}

	.colonne_small1 {
		width: 100% !important;
		top: 0;
		bottom: 50%;
		/* padding-top: 30vw; */
	}

	.colonne_small2 {
		width: 100% !important;
		top: 50%;
		bottom: 0;
		/* padding-top: 30vw; */
	}

	.nom_plat {
		font-size: 21px;
	}
	
	p {
		font-size: 19px;
	}
	
	.prix {
		font-size: 18px;
	}
}
