@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@400;500;600;700&display=swap');

* {
	overflow-x: hidden;
}

body {
	background-color: #2a3b40;
	color: #2a3b40;
}

.background_page2 {
	max-width: 100% !important;
	max-height: 100% !important;
	margin: 0 !important;
	background: url("img/background_page2.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
    background-position-y: 0;
    background-position-x: 0;
}

.titre {
	font-family: 'Cookie', cursive;
	font-size: 10.4vh;
	margin-top: -10px;
	margin-bottom: -40px;
}

.sous_titre {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 6.5vh !important;
	color: #ad6c12;
}

.nom_plat {
	line-height: 3;
	font-size: 18px;
}

p {
	font-size: 16px;
}

.prix {
	font-size: 15px;
}

.vecteur_droit {
	position: float;
	float: right;
}

.raleway_bold {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.titre_size {
	font-size: 30px;
}

.raleway_regular {
	font-family: 'Raleway', sans-serif;
}

.fa-ellipsis-h {
	font-size: 70px;
}

.menu {
	font-weight: bold;
}

.menu a {
	text-decoration: none;
	color: #2a3b40;
}

.background_page3 {
	max-width: 100% !important;
	max-height: 100% !important;
	margin: 0 !important;
	margin-top: -.37rem !important;
	background: url("img/background_page_3.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
    background-position-y: 0;
    background-position-x: 0;
    padding-top: 35vh;
}

.nom_plat2 {
	line-height: 2;
	font-size: 18px;
	font-weight: bold;
}

.rond {
	margin-bottom: 8%;
	height: 6vw;
	width: 6vw;
}

.image_rond {
	height: 4vh;
	width: 3vw;
}

.image_rond2 {
	height: 5vh;
	width: 3vw;
}

.image_rond3 {
	height: 6vh;
	width: 3vw;
}

.background_avant_form {
	width: 100%;
	height: auto;
}

.background_apres_form {
	width: 100%;
	height: auto;
}

input {
	border-style: solid;
}

input, select {
	width: 14.7vw;
}

input:focus, select:focus {
	outline: 0 !important;
}

a {
	text-decoration: none;
}

.submit {
	width: 14.7vw;
	border-style: solid;
}

.background_select {
	background-color: #2a3b40;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::placeholder {
	color: white;
}